.container {
    display:flex; 
    align-items:center;
    justify-content:center;
    height:100%;
    flex-direction: column;
    .box {
        display:flex; 
        align-items:center;
        justify-content:center;
        width: 20rem;
        border: 1px solid gray;
    }
    table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div:first-child {
        margin: 2rem;
    }
    div:last-child {
        margin: 2rem;
    }
}
img {
    width: 2rem;
    height: 2.2rem;
}
.blur {
    filter: blur(2px);
}
.clickedButton {
    background-color: darkseagreen; 
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    width: 1.6rem;
}
.unclickedButton {
    cursor: pointer;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    width: 1.6rem;
}
.clickedtd {
    background-color: darkseagreen; 
    border: 1px solid #a9d7a9;
}
.unclickedtd {
    background-color: blue;
    border: 1px solid cornflowerblue;
}